<table>
	<%= paginate appointments %>
		<thead>
			<tr>
				<th> User ID </th>
				<th> When is it? </th>
									<th> What is it about? </th>
									<th> Appointment Status? </th>
									<th> Action </th>
								</tr>
							</thead>

							<tbody>
								<% appointments.each do |appointment| %>
								<tr>
									<td><p> <%= appointment.user_id %> </p></td>
									<td><p> <%= appointment.appointment_date.strftime("%d/%m/%y %R") %> </p></td>
									<td><p> <%= appointment.appointment_info %> </p></td>
									<td><p> <%= appointment.appointment_status %> </p></td>
									<td><%= link_to 'Show', user_appointment_path(current_user.id, appointment.id) %> <%= link_to 'Edit', edit_user_appointment_path(current_user.id, appointment.id) %> <%= link_to 'Delete', user_appointment_path(current_user.id, appointment.id), method: :delete, data: { confirm: 'Are you sure?' } %>
										</td>
								</tr>

								<% end %>
							</tbody>
					</table>
				<%= paginate appointments %>
			<%= link_to 'Back', root_path %>
