<p> Appointment ID: <%= @appointment.id %> </p>
<p> Appointment Date : <%= @appointment.appointment_date.strftime("%d/%m/%y %R") %> </p>
<p> Appointment Info : <%= @appointment.appointment_info %> </p>
<p> Appointment Status : <%= @appointment.appointment_status %> </p>
<% if @appointment.appointment_status == 'Pending' %>
	<%= link_to 'Edit', edit_user_appointment_path %>
<% end %>
<%= link_to 'Back', all_appointments_path %>
